<div class="center jumbotron">
<<<<<<< ca18d1b6447e840217fc09bcabe3cab2f4d9dd52
  <h1><%= t "layout.home.content_h1" %></h1>
  <h2>
    <%= t "layout.home.content_link" %>
    <%= link_to t("layout.home.content_home"), t("layout.home.href") %>
=======
  <h1><%= t "layout.header.content_h1" %></h1>
  <h2>
    <%= t "layout.header.content_link" %>
    <%= link_to t("layout.header.content_home"), t("layout.header.href") %>
>>>>>>> layoutstatic
  </h2>
</div> 
